page-login {
    ion-title *{
        margin-top:30vh; 
        margin-bottom:5vh;
    }
    ion-avatar > ion-icon  {
        font-size: 100px
    }
    ion-grid {
        height: 100%;
        justify-content: center;
    }
}
   