<ion-header>
  <ion-navbar>
    <ion-title>Candidate #{{ number }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="./assets/imgs/author.jpg"/>

    <ion-card-content>
      <ion-card-title>
        {{ name }}
      </ion-card-title>
      <p>
        {{ description }}
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='star-outline' item-start style="color: #d03e84"></ion-icon>
      Favorites
      <ion-badge item-end>9</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='logo-whatsapp' item-start style="color: #55acee"></ion-icon>
      +55 (11) 99999-9999
    </ion-item>

  </ion-card>
</ion-content>