<ion-buttons start>
    <button ion-button outline (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
    </button>
</ion-buttons>
<div *ngIf="user">
    <ion-avatar>
        <img class="round" [src]="user.photo || '../assets/imgs/no-photo.jpg'">
    </ion-avatar>
    <h2 text-center>{{ user.name }}
    <p text-center *ngIf="user.apt"> - #{{ user.apt }}</p>
    <p text-center *ngIf="user.number"> - #{{ user.number }}</p>
    </h2>
    <p text-center *ngIf="user.username">@{{ user.username }}</p>
    <p text-center *ngIf="user.email">{{ user.email }}</p>
</div>