<ion-header>
  <custom-header [title]="'Candidatos Page'"></custom-header>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <button ion-item *ngFor="let candidate of candidates; let i = index" (click)="viewProfile(i)">  
            <ion-avatar item-start>
                <img src="./assets/imgs/author.jpg" />  
            </ion-avatar>
            <h2>{{ candidate.name }}</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere numquam minima eos tempora ipsam nobis praesentium similique dolores inventore harum exercitationem eaque consequatur repellat quibusdam aspernatur sint asperiores, voluptatibus corporis.</p>
            <ion-note item-end>#{{ candidate.number }}</ion-note>
          </button>      
        </ion-list>
      </ion-card>
</ion-content>
