<ion-content class="tutorial">

  <ion-slides pager autoplay=5000>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="dismiss()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <img [src]="slide.image" class="slide-image"/>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <h2 class="slide-title">Finished Tutorial</h2>
      <img src="./assets/imgs/tutorial-end.png" class="slide-image"/>
      <button ion-button large clear icon-end color="primary" (click)="dismiss()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>